# do not commit personal details
config.json

# do not commit data files
data/
current-tracklist.json
rolling-log.json

# don't even look at this stuff
__pycache__
.vscode

# for spotipy default key storage
.cache-*