# do not commit personal details
config.json

# do not commit cached tokens (spotify uses a .cache-username file)
*cache*

# do not commit the data file
rolling-songs.json

# do not commit the data file
*.txt